/* resert */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
}
/* utils */
.yellow{ 
    color: yellow;
}
.green{
    color: green;
}
img{
    height: 350px;
}
#shoes1{
    background-color: red;
}
#shoes2{
    background-color: green;
}
#shoes3{
    background-color: yellow;
}
/* section */
.container{
max-width: 1200px;
margin: 0 auto;
}
.first{
    height: 100vh;
    background-position: center;
}
h2{
    width: 95%;
}
.content{
    text-align: center;
    position: relative;
    width: max-content;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%)
}
/* menu */
#barra{
    position: fixed;
    z-index: 1;
    top: 1em;
  right: 2em;
}
a{
    text-decoration: none;
    color: black;
    background-color: black;
    border-radius: 50%;
    padding: 7px 10px;
    margin-right: 1em;
    background-color: white;
}
